body{
    background-color:rgb(240, 226, 226);
}

h3, h2, h3 {
    font-family: fantasy;
    color: brown;
}

p {
    font-family: sans-serif;
    font-size: larger;
    color:royalblue;
}

ol{
    background-color: aqua;
    font-style: italic;
    border: 5px solid #df1f1f;
    border-style:dashed;
}

ul{
    font-style:normal;
    font-weight: bolder;
}

.footer_p {
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: small;
    background-color: rgb(177, 143, 143);
    text-align: center;
}

.class-test{
    font-weight: 900;
    font-style: italic;
    font-family: serif;
    color: rgb(165, 20,200,0.8);
}

.ul-list {
    list-style: none;
    color: rgb(37, 57, 120);
}

/* Psudo class example --> */
li:first-child {
color: blue;
}

/* style hyperlinks example */
a:link {
    color:brown;
    text-decoration: none;
}

a:visited{
color:blueviolet ;    
}

a:hover{
    color: orangered;
    text-decoration: underline dotted orangered;
}

a:active{
    background-color: blue;
}